	<!-- Vendor JS -->
	<script src="/main/js/vendors.min.js"></script>
	<script src="/main/js/pages/chat-popup.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>	
	
	<!-- Chat-Bot Admin App -->
	<script src="/main/js/template.js"></script>

	<script src="/assets/vendor_components/datatable/datatables.min.js"></script>
	<script src="/main/js/pages/data-table.js"></script>

	<script src="/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
	<script src="/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="/assets/vendor_components/select2/dist/js/select2.full.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<script src="/assets/vendor_components/moment/min/moment.min.js"></script>
	<script src="/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="/assets/vendor_plugins/iCheck/icheck.min.js"></script>
	

	
	<script src="/main/js/pages/advanced-form-element.js"></script>
</body>

<!-- Mirrored from chat-bot-admin-template.multipurposethemes.com/bs5/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 08:56:19 GMT -->
</html>