<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from chat-bot-admin-template.multipurposethemes.com/bs5/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 08:56:19 GMT -->
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/Asset-1-2.png">

    <title>Chat-Bot Admin</title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="/main/css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="/main/css/style.css">
	<link rel="stylesheet" href="/main/css/skin_color.css">	

</head>
	
