<%- include('layouts/header.ejs') %>

<body class="hold-transition theme-primary bg-img" style="background-image: url(/images/auth-bg/bg-1.jpg)"></body>
<div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">	
        
        <div class="col-12">
            <div class="row justify-content-center g-0">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="bg-white rounded10 shadow-lg">
                        <div class="content-top-agile p-20 pb-0">
                            <h2 class="text-primary">Let's Get Started</h2>
                            <p class="mb-0">Sign in to continue to Chat-Bot.</p>							
                        </div>
                        <div class="p-40">
                            <form onsubmit="return false;" id="form">
                                <div class="alert alert-success" role="alert" id="success" style="display: none;">
                       
                                </div>
                                <div class="alert alert-danger" role="alert" id="failed" style="display: none;">
                                 
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                        <input type="text" class="form-control ps-15 bg-transparent" placeholder="Email" id="email" name="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                        <input type="password" class="form-control ps-15 bg-transparent" placeholder="Password" id="password" name="password">
                                    </div>
                                </div>
                                  <div class="row">
                                    <!-- <div class="col-6">
                                      <div class="checkbox">
                                        <input type="checkbox" id="basic_checkbox_1" >
                                        <label for="basic_checkbox_1">Remember Me</label>
                                      </div>
                                    </div> -->
                                    <!-- /.col -->
                                   
                                    <!-- /.col -->
                                    <div class="col-12 text-center">
                                      <button type="submit" class="btn btn-primary mt-10">SIGN IN</button>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                            </form>	
                            
                        </div>						
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="custom-js/admin-login.js"></script>
	<script src="js/vendors.min.js"></script>
	<script src="js/pages/chat-popup.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	

</body>

<!-- Mirrored from chat-bot-admin-template.multipurposethemes.com/bs5/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Apr 2023 08:56:19 GMT -->
</html>