<%- include('layouts/header.ejs') %>
<%- include('layouts/admin-nav.ejs') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container-full">
      <!-- Content Header (Page header) -->	  
      <div class="content-header">
          <div class="d-flex align-items-center">
              <div class="me-auto">
                  <h4 class="page-title">Live Chat History</h4>
                  <div class="d-inline-block align-items-center">
                      <nav>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                              <li class="breadcrumb-item" aria-current="page">Live Chat History</li>
                          </ol>
                      </nav>
                  </div>
              </div>
              
          </div>
      </div>

      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-12">
                  <div class="box">
                      <div class="box-header with-border">
                        <h4 class="box-title">Agents</h4>
                      </div>
                      <div class="box-body">
                        <div class="table-responsive" id="table-container">
                            
                        </div>
                      </div>
                      <!-- /.box-body -->
                     
                  </div>
              </div>
          </div>
      </section>

    
    </div>
</div>
</div>

<%- include('layouts/footer.ejs') %>
<script>
function LoadData(){
fetch("/api/load-live-chat-history", {
method: "post",
headers: {
    "Content-Type" : "application/json"
}
}).then(res => res.json())
.then(data => {
if(data.status == "success"){
$('#table-container').html(data.message);
}
else{

}
})

}

LoadData();
</script>